
.has-header
{
   top: 82px;//your headers height
   .scroll-content{
        margin-bottom: 6rem
   }
   
}

.toolbar-content-md{
    display: flex;
}

/* swall dialogs*/
.btn-dlg{
    color:#e4f9f5;
    padding:1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin: 5px;
    font-size: 2em;
    font-weight: 600;
    
}
.dlg-ok{
    background-color: #607d8b;
}
.dlg-cancel{
    background-color: #bb3939;
}
.swal2-popup .swal2-title{
    font-size: 2em;
}
.swal2-popup #swal2-content{
    font-weight: 600;
    font-size: 1.2em;
}
.swal2-container.swal2-shown {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

/* end swall dialogs*/

ion-fab[bottom]{
    bottom:120px;
}

ion-fab[right]{
    right:3rem;
}

ion-fab[left]{
    left:3rem;
}

// Applied by the showWhen directive
.hidden-show-when {
    display: none !important;
}
  
// Applied by the hideWhen directive
.hidden-hide-when {
    display: none !important;
}

.button{
    border-radius: 10px;
}

.cal-event-title {
    padding: 1.2rem .8rem !important;
    display: block;
    background-color: map-get($colors, primary);
    border-radius: 10px;
    color: map-get($colors, light) !important;
    text-decoration: none;
}

.cal-day-view .cal-hour-segment.cal-after-hour-start .cal-time {
    display: block !important;
    
  }
