
modal-date {
    .toolbar-background-md{
        background-color: map-get($colors, header-color) !important;
    }
    .scroll-content{
        display:flex;
        flex-direction: column;
        background-color: map-get($colors,light);
    }
    .modal-info{
        flex:1;
        display:flex;
        flex-direction: column;
        strong{
            font-size: 2.5rem;
        }
    }
    .button{
        min-height: 60px;
        background: color($colors, header-color, base);;
        border-radius: 10px !important;
        border: 1px solid color($colors, light, base);;
    }

}
