<ion-header>
    <ion-navbar>
        <img width="50px" height="50px" src="assets/imgs/logo.png" alt="hours worked logo">
        <ion-title (click)="goRoot()">
            {{ 'APP-TITLE' | translate}}
        </ion-title>

        <ion-select [(ngModel)]="location" (ionChange)="choose($event)">
            <ion-option value="es" selected="'es' == location">
                {{ 'SPANISH' | translate }}
            </ion-option>
            <ion-option value="en" selected="'en' == location">
                {{ 'ENGLISH' | translate }}
            </ion-option>
          </ion-select>
    </ion-navbar>
    
</ion-header>