
<ion-content padding class="has-header">
  <ion-row class="navigation">
    <button ion-button icon-start (click)="goBack()"><ion-icon name="md-arrow-back"></ion-icon>Atras</button>
      <select ([ngModel])="chartTypeSelected.value" (change)="chartChange($event)" class="select-type">
          <option>Char type</option>
          <option *ngFor="let type of chartTypes" [value]="type.id">{{type.value}}</option>
      </select>
  </ion-row>
  <div class="chars-wraped">
    <div class="char">
        <h2 text-center>Horas Trabajadas esta semana</h2>
        <canvas baseChart [datasets]="barChartDataWeek" [labels]="barChartLabelsWeek" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="chartType"></canvas>
    </div>
    <div class="char">
        <h2 text-center>Horas Trabajadas este año</h2>
        <canvas baseChart [datasets]="barChartDataYear" [labels]="barChartLabelsYear" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="chartType"></canvas>
    </div>
</div>
</ion-content>

