page-modal-login {

    .login-content {
      background-color:map-get($colors, primary);
   
      .logo-row {
        padding-top: 50px;
        padding-bottom: 20px;
      }
   
      .login-box {
        background: #2f87a9;
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
      }
   
      ion-row {
         align-items: center;
         text-align: center;
       }
   
       ion-item {
           border-radius: 30px !important;
           padding-left: 30px !important;
           font-size: 0.9em;
           margin-bottom: 10px;
           border: 1px solid #ffffff;
           border-bottom: 0px !important;
           box-shadow: none !important;
       }
   
       .button-row {
         margin: 0px 16px 0px 16px;
         padding-bottom: 10px;
       }
       .button-inner{
         color:white !important;
       }
       .item-inner {
         border-bottom-color:map-get($colors, light);
         box-shadow: none !important;
       }
   
       .submit-btn {
         background: map-get($colors, secondary);
         border-radius: 30px !important;
         border: 1px solid #ffffff;
       }
   
       .register-btn {
         color: #ffffff;
         font-size: 0.8em;
       }
    }
   
  }